# This is a global .p4config, which can be overridden by `.p4config` files in the project folders.

P4ALIASES={{.profile.home_dirf}}/.config/p4/aliases
P4CONFIG=.p4config
P4EDITOR=micro
P4IGNORE=.p4ignore
P4TICKETS={{.profile.home_dirf}}/.local/state/p4/.p4tickets
P4USER=scobi

{{ if get .profile "beyond_compare_dirf" -}}
P4DIFF={{.profile.beyond_compare_dirf}}/bcomp.exe
P4MERGE={{.profile.beyond_compare_dirf}}/bcmerge-p4.cmd
{{- end }}
