<?xml version="1.0" encoding="utf-8"?>
<UserOptions xmlns="http://schemas.datacontract.org/2004/07/LINQPad">
  <AlwaysShelveOnExit>true</AlwaysShelveOnExit>
  <BrowserEngine>WebView2</BrowserEngine>
  <DefaultQueryLanguage>Statements</DefaultQueryLanguage>
  <MaxQueryRows>1000</MaxQueryRows>
  <MemberOrderMode>0</MemberOrderMode>
  <NoNativeKeysQuestion>true</NoNativeKeysQuestion>
  <ShowLineNumbersInEditor>true</ShowLineNumbersInEditor>
  <UseDarkTheme>true</UseDarkTheme>
</UserOptions>
