{{ if eq .chezmoi.os "windows" -}}
cd:
  command: "pwsh"
  args: ["-NoLogo", "-NoExit", "-Command", "& Set-Location (chezmoi source-path)"]
{{- end }}

data:
  profile:
{{- if eq .chezmoi.os "windows" }}
    beyond_compare_dir: {{output "pwsh" "-c" "& get-content alias:bc" | trim | replace "\\" "/" | dir}}
{{- end }}
{{- /* TODO: autodetect this... */}}
{{- $personal_machine := get .profile "personal_machine" }}
{{- if not (hasKey .profile "personal_machine") }}
{{-   $personal_machine = promptBool "\n>>> Personal machine? (y/n): " }}
{{- end }}
    home_dir: {{.chezmoi.homeDir | replace "\\" "/"}}
    personal_machine: {{$personal_machine}}
    theme: dark # updated in the dst file by Set-DarkMode

#git:
#  autoCommit: true   # not sure i like this yet
