#git:
#  autoCommit: true   # not sure i like this yet

{{ if eq .chezmoi.os "windows" -}}
cd:
  command: "pwsh"
  args: ["-NoLogo", "-NoExit", "-Command", "& {Set-Location (chezmoi source-path)}"]
{{- end }}

{{/* TODO: autodetect this... */}}
{{ $personal_machine := get .scottbilas "personal_machine" -}}
{{ if not (hasKey .scottbilas "personal_machine") -}}
{{   $personal_machine = promptString "personal machine? (true/false)" -}}
{{ end -}}
data:
  chezmoi:
    home: {{.chezmoi.homeDir | replace "\\" "/"}}
  scottbilas:
    personal_machine: {{ $personal_machine }}
    # dark or light, updated at the target site by Set-DarkMode
    theme: dark
