{
    "[dockercompose]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 2,
        "editor.autoIndent": "advanced",
        "editor.quickSuggestions": {
            "other": true,
            "comments": false,
            "strings": true
        },
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "[github-actions-workflow]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "[html]": {
        "editor.defaultFormatter": "vscode.html-language-features"
    },
    "[markdown]": {
        "editor.tabSize": 4
    },
    "[plaintext]": {
        "editor.quickSuggestions": {
            "comments": "off",
            "strings": "off",
            "other": "off"
        } // often annoying in a txt file - picks random stuff to be helpful, is too aggressive
    },
    "[powershell]": {
        "editor.codeLens": false
    },
    "[python]": {
        "diffEditor.ignoreTrimWhitespace": true
    },
    "[yaml]": {
        "editor.tabSize": 2
    },
    "accessibility.signals.chatResponseReceived": {
        "sound": "on"
    },
    "accessibility.signals.chatUserActionRequired": {
        "sound": "on"
    },
    "accessibility.signalOptions.volume": 80,
    "chat.agent.maxRequests": 100,
    "chat.agent.thinkingStyle": "collapsedPreview",
    "chat.customAgentInSubagent.enabled": true,
    "chat.todoListTool.descriptionField": true,
    "chat.tools.terminal.autoApprove": {
        "/dev/null": true,
        "/./run (test|format)/": true,
        "cat": true,
        "cd": true,
        "cut": true,
        "do": true,
        "done": true,
        "echo": true,
        "filterdiff": true,
        "grep": true,
        "head": true,
        "ls": true,
        "man": true,
        "nix": true,
        "npx": true,
        "pdftotext": true,
        "pip": true,
        "pnpm": true,
        "read": true,
        "sed": true,
        "shasum": true,
        "shellcheck": true,
        "sort": true,
        "strings": true,
        "tail": true,
        "test": true,
        "time": true,
        "tr": true,
        "true": true,
        "uniq": true,
        "uv": true,
        "wc": true,
        "while": true,
        "chmod +x": true,
        "/^bash .*_test.bash($| --)/": true,
        "/_test.bash$/": true,
        "git commit -F COMMIT_MSG_TEMP": true, // confident in yolo on auto commit messages
        "git cat-file": true,
        "/^git (-C \\S+ |--no-pager |lfs )*(add|annotate|blame|cat-file|describe|diff|env|grep|help|log|ls-files|ls-remote|ls-tree|merge-base|rev-list|rev-parse|shortlog|show|status)( |$)/": true,
        "/^git (help|(.+ )?(--help|--dry-run))( |$)/": true,
        "/^git config (--get|--get-all|--get-regexp|--list|-l)\\b/": true,
        "git branch -r": true,
        "/^dotnet (add|build|new|publish|restore|sln|test)\\b/": true,
        "/^rm (\\/tmp\\/|.*_TEMP$)/": true,
    },
    "chat.tools.terminal.ignoreDefaultAutoApproveRules": true,
    "chat.tools.urls.autoApprove": {
        "https://*.kernel.org": true,
        "https://*.visualstudio.com": true,
        "https://docs.github.com": true,
        "https://git-scm.com": true,
        "https://github.blog": true,
        "https://github.com/git-lfs": true,
        "https://github.com/git": true,
        "https://pypi.org": true,
        "https://raw.githubusercontent.com/git-lfs": true,
        "https://stackoverflow.com": true,
    },
    "chat.useAgentSkills": true,
    "chat.useNestedAgentsMdFiles": true,
    "cmake.configureOnOpen": false,
    "cSpell.allowCompoundWords": true,
    "cSpell.ignorePaths": [
        "**/package-lock.json",
        "**/node_modules/**",
        "**/vscode-extension/**",
        "**/vscode/**/User/settings.json",
        "**/.git/objects/**",
        ".vscode",
        "*.nix",
        "pyproject.toml",
    ],
    "cSpell.ignoreRegExpList": [
        "[./]\\w+",       // things that look like filenames/paths/extensions
        "@\\w+",          // usernames
        "\\W[Rr]'(?=\\w)" // raw format string prefixes
    ],
    "cSpell.enabledFileTypes": {
        "shellscript": false
    },
    "cSpell.userWords": [
        "addrs",
        "Behaviour",
        "Behaviours",
        "Bilas",
        "Bilas's",
        "blittable",
        "Boids",
        "coord",
        "cygwin",
        "datas",
        "deserialization",
        "deserialized",
        "devs",
        "dll's",
        "dotfiles",
        "dups",
        "executables",
        "fatals",
        "ffwd",
        "Finalizers",
        "Fogbugz",
        "funcs",
        "gamedevs",
        "globbing",
        "icase",
        "IDE's",
        "katana",
        "llvm",
        "minimap",
        "mkdir",
        "nums",
        "POSIX",
        "pwsh",
        "REPO",
        "reserialize",
        "Reserialized",
        "Resilio",
        "Resizable",
        "resizer",
        "scottbilas",
        "serializable",
        "Shouldly",
        "struct",
        "structs",
        "submodules",
        "termux",
        "transcode",
        "uncrustify",
        "unexpanded",
        "unoptimized",
        "untracked",
        "WASD",
        "xplat"
    ],
    "debug.console.wordWrap": false,
    "debug.showBreakpointsInOverviewRuler": true,
    "debug.toolBarLocation": "docked",
    "diffEditor.codeLens": true,
    "diffEditor.diffAlgorithm": "advanced",
    "diffEditor.hideUnchangedRegions.enabled": true,
    "diffEditor.ignoreTrimWhitespace": false,
    "diffEditor.renderSideBySide": true,
    "docker.extension.enableComposeLanguageServer": false,
    "editor.accessibilitySupport": "off", // without this, can't do word wrapping
    "editor.autoClosingBrackets": "never",
    "editor.autoClosingComments": "never",
    "editor.autoClosingDelete": "never",
    "editor.autoClosingOvertype": "never",
    "editor.autoClosingQuotes": "never",
    "editor.cursorBlinking": "phase",
    "editor.cursorSmoothCaretAnimation": "on",
    "editor.cursorSurroundingLines": 5,
    "editor.cursorSurroundingLinesStyle": "all",
    "editor.cursorWidth": 3,
    "editor.dragAndDrop": true,
    "editor.foldingStrategy": "indentation",
    "editor.fontFamily": "JetBrainsMono Nerd Font Mono",
    "editor.fontLigatures": true,
    "editor.fontSize": 12,
    "editor.guides.bracketPairs": true,
    "editor.guides.indentation": false,
    "editor.inlineSuggest.enabled": true,
    "editor.lightbulb.enabled": "onCode",
    "editor.lineNumbers": "off",
    "editor.linkedEditing": true,
    "editor.matchBrackets": "never", // want rafamel.subtle-brackets to handle matching brackets instead
    "editor.minimap.enabled": true,
    "editor.minimap.maxColumn": 40,
    "editor.mouseWheelScrollSensitivity": 1,
    "editor.mouseWheelZoom": true,
    "editor.quickSuggestionsDelay": 250,
    "editor.roundedSelection": true,
    "editor.rulers": [
        80,
        100,
        120
    ],
    "editor.semanticHighlighting.enabled": true,
    "editor.smoothScrolling": true,
    "editor.snippetSuggestions": "bottom",
    "editor.suggestOnTriggerCharacters": false,
    "editor.tokenColorCustomizations": {
        "textMateRules": [
            {
                // log.constant
                // log.date
                // log.debug
                // log.error
                // log.exception
                // log.info
                // log.string
                // log.exceptiontype
                // log.warning
                "scope": "log.constant",
                "settings": {
                    "foreground": "#DDD"
                }
            },
            {
                "scope": "keyword.control.bats",
                "settings": {
                    "foreground": "#b33ce2",
                    "fontStyle": "underline"
                }
            },
            {
                "scope": "support.function.bats",
                "settings": {
                    "foreground": "#d15353",
                    "fontStyle": "italic"
                }
            },
            {
                "scope": "support.variable.bats",
                "settings": {
                    "foreground": "#329432",
                    "fontStyle": "italic"
                }
            }
        ]
    },
    "emojisense.languages": {
        "csharp": true,
        "git-commit": true,
        "markdown": true,
        "powershell": true,
        "scminput": true
    },
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "explorer.excludeGitIgnore": true,
    "files.associations": {
        "config-*": "ini",
        "config": "ini",
        "hgrc-*": "ini",
        "hgrc": "ini",
        "ignore": "gitignore",
        "nuget.config": "xml",
        "prompt.json": "jsonc",
        "sshd_config": "ssh_config",
        ".chezmoiignore": "gitignore",
        ".hgignore": "gitignore",
        ".pylintrc": "ini",
        ".netconfig": "ini",
        "*.asmdef": "json",
        "*.asset": "yaml",
        "*.buildconfiguration": "json",
        "*.buildsettings": "json",
        "*.json.tmpl": "jsonc",
        "*.jsonl": "json",
        "*.linq": "csharp",
        "*.log": "log",
        "*.meta": "yaml",
        "*.msbuildproj": "xml",
        "*.prefab": "yaml",
        "*.tmpl": "go-template",
        "*.ttinclude": "t4",
        "*.txt": "plaintext",
        "*.unity": "yaml",
        "*.uxml": "xml",
        "*.vssettings": "xml",
        "*.yaml.tmpl": "yaml"
    },
    "files.autoSave": "off",
    "files.eol": "\n",
    "files.exclude": {
        // root folders
        ".hglf": true,

        // files
        "**/*.bak": true,
        "**/*.cache": true,
        "**/*.csproj.CopyComplete": true,
        "**/*.csproj.user": true,
        "**/*.idb": true,
        "**/*.ilk": true,
        "**/*.lib": true,
        "**/*.mdb": true,
        "**/*.meta": true,
        "**/*.obj": true,
        "**/*.orig": true,
        "**/*.pyc": true,
        "**/*.pyo": true,
        "**/*.suo": true,
        "**/*FileListAbsolute.txt": true,

        // folders
        "**/.history": true,
        "**/.venv": true,
        "**/.vs": true,
        "**/__pycache__": true
    },
    "git.blame.editorDecoration.enabled": false,
    "git.confirmSync": false,
    "git.autoRepositoryDetection": "openEditors",
    "git.openRepositoryInParentFolders": "always",
    "github.copilot.chat.customOAIModels": {
        "gpt-oss-20b": {
            "name": "gpt-oss:20b (Ollama local)",
            "url": "http://localhost:11434/v1/",
            "requiresAPIKey": false,
            "maxInputTokens": 8192,
            "maxOutputTokens": 2048,
            "toolCalling": true,
            "thinking": true,
            "vision": false,
        }
    },
    "github.copilot.enable": {
        "*": true,
        "plaintext": false,
        "markdown": true,
        "scminput": false,
        "yaml": true,
        "hosts": false
    },
    "github.copilot.nextEditSuggestions.enabled": true,
    "githubPullRequests.pullBranch": "never",
    "gitlab.duo.enabledWithoutGitlabProject": false,
    "gitlab.duoCodeSuggestions.enabled": false,
    "gitlab.duoChat.enabled": false,
    "gitlab.duoAgentPlatform.enabled": false,
    "gitlab.keybindingHints.enabled": false,
    "gitlens.ai.model": "vscode",
    "gitlens.ai.vscode.model": "copilot:claude-sonnet-4.5",
    "gitlens.advanced.fileHistoryShowAllBranches": true,
    "gitlens.blame.format": "${email|10} ${message|25?}${agoOrDate|14-}",
    "gitlens.changes.toggleMode": "window",
    "gitlens.graph.layout": "editor",
    "gitlens.heatmap.toggleMode": "window",
    "gitlens.launchpad.indicator.enabled": false,
    "gitlens.plusFeatures.enabled": false,
    "go.formatTool": "goimports",
    "go.toolsManagement.autoUpdate": true,
    "go.useLanguageServer": true,
    "graphviz-interactive-preview.renderLockAdditionalTimeout": 10000,
    "indentRainbow.excludedLanguages": [
        "diff",
        "il",
        "go-template",
        "plaintext",
        "t4",
        "xml",
    ],
    "indentRainbow.colors": [
        "rgba(255,255,64,0.03)",
        "rgba(127,255,127,0.03)",
        "rgba(255,127,255,0.03)",
        "rgba(79,236,236,0.03)"
    ],
    "indentRainbow.indicatorStyle": "light",
    "indentRainbow.errorColor": "rgba(255,0,0,0.03)",
    "json.schemas": [
        { "fileMatch": [ "*.asmdef" ], "url": "http://json.schemastore.org/asmdef" }
    ],
    "julia.symbolCacheDownload": true,
    "julia.enableTelemetry": true,
    "local-history.path": "~/.local/backups/vscode",
    "luahelper.format.continuation_indent_width": 2,
    "luahelper.format.indent_width": 2,
    "luahelper.format.tab_width": 2,
    "markdown.extension.italic.indicator": "_",
    "markdown.extension.toc.levels": "2..3",
    "markdown.preview.fontSize": 16,
    "mermaid-chat.enabled": true,
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "powershell.codeFormatting.useConstantStrings": true,
    "powershell.codeFormatting.useCorrectCasing": true,
    "powershell.codeFormatting.pipelineIndentationStyle": "IncreaseIndentationForFirstPipeline",
    "powershell.integratedConsole.showOnStartup": false,
    "powershell.promptToUpdatePowerShell": false,
    "problems.decorations.enabled": true,
    "python.analysis.typeCheckingMode": "strict",
    "redhat.telemetry.enabled": false,
    "rewrap.wrappingColumn": 100,
    "search.smartCase": true,
    "search.useGlobalIgnoreFiles": true,
    "security.restrictUNCAccess": false,
    "security.workspace.trust.enabled": false,
    "settingsSync.ignoredExtensions": [
{{- if .profile.personal_machine }}
        "jetbrains.resharper-code",
{{- end }}
    ],
    "scm.defaultViewMode": "tree",
    "search.useParentIgnoreFiles": true,
    "shellcheck.customArgs": [ "-x" ],
    "shellformat.flag": "-i 4 -s",
    "terminal.integrated.allowChords": false,
    "terminal.integrated.cursorBlinking": true,
    "terminal.integrated.cursorStyle": "line",
    "terminal.integrated.enableImages": true,
    "terminal.integrated.fontSize": 12,
    "terminal.integrated.lineHeight": 0,
    "terminal.integrated.scrollback": 10000,
    "terminal.integrated.sendKeybindingsToShell": true,
    "todohighlight.keywords": [
        {
            "text": "TODO:",
            "color": "salmon",
            "backgroundColor": "darkslategray",
            "overviewRulerColor": "yellow"
        }
    ],
    "ttProcessor.TTPath": "{{.profile.home_dirf}}/.dotnet/tools/t4.exe", // dotnet tool install -g dotnet-t4
    "update.enableWindowsBackgroundUpdates": false,
    "update.mode": "manual",
    "update.showReleaseNotes": false,
    "window.autoDetectColorScheme": true,
    "window.density.editorTabHeight": "compact",
    "window.menuBarVisibility": "toggle",
    "window.newWindowDimensions": "inherit",
    "window.openFilesInNewWindow": "default",
    "window.restoreFullscreen": true,
    "window.restoreWindows": "all",
    "window.title": "${dirty}${separator}${rootName} [${activeRepositoryName}:${activeRepositoryBranchName}] ${focusedView}",
    "window.titleSeparator": " → ",
    "workbench.colorCustomizations": {
        "[*Dark*]": {
            "editorRuler.foreground": "#304857",
            "tab.activeBorderTop": "#f863ba",
        }
    },
    "workbench.editor.empty.hint": "hidden",
    "workbench.editorAssociations": {
        "*.copilotmd": "vscode.markdown.preview.editor",
        "*.ipynb": "jupyter-notebook",
        "*.sln": "default",
        "*.xlsx": "default",
    },
    "workbench.panel.showLabels": false,
    "workbench.preferredHighContrastLightColorTheme": "Base16 Light Atelier Heath",
    "workbench.preferredHighContrastColorTheme": "Default Dark+",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.list.smoothScrolling": true,
    "workbench.panel.defaultLocation": "right",
    "workbench.preferredDarkColorTheme": "GitHub Dark High Contrast",
    "workbench.preferredLightColorTheme": "Base16 Light Atelier Heath",
    "workbench.startupEditor": "newUntitledFile",
    "xml.server.binary.trustedHashes": [
        "f6680ebbcbaa2643477bc52c3f41ede2d89e22af29e19779be7b414dd3c7b4e1"
    ],
    "zenMode.centerLayout": true,
    "zenMode.fullScreen": true,
    "zenMode.hideActivityBar": true,
    "zenMode.hideLineNumbers": true,
    "zenMode.hideStatusBar": true,
    "zenMode.restore": true,
    "zenMode.showTabs": "single",
    "zenMode.silentNotifications": true,
    "workbench.activityBar.location": "top",
}
