# yaml values should only use lowercase names, because chezmoi uses a library that always lowercases them
# (see https://github.com/twpayne/chezmoi/issues/463)
#
# important: do not use ".profile" from here, because those values will not exist on first-init.

format: yaml
pager: delta
progress: true

{{- /* TODO: autodetect this... */}}
{{- $personal_machine := true }}
{{- if and (hasKey . "profile") (hasKey .profile "personal_machine") }}
{{-   $personal_machine = get .profile "personal_machine" }}
{{- else }}
{{-   $personal_machine = promptBool "\n>>> Personal machine? (y/n): " }}
{{- end }}
{{- $home_dirf := get .chezmoi "homeDir" | replace "\\" "/" }}
{{- $home_dirb := get .chezmoi "homeDir" | replace "/" "\\" }}

{{- $beyond_compare_dirf := "" }}
{{- $p4merge_dirf := "" }}
{{ if eq .chezmoi.os "windows" }}
cd:
  command: pwsh
  args: [-NoExit, -Command, "& Set-Location (chezmoi source-path)"]

{{   $beyond_compare_dirf = output "pwsh" "-Command" "& { Get-Content -ea:silent Alias:bc || '' }" | trim -}}
{{   $p4merge_dirf = output "pwsh" "-Command" "& { (Get-Command -ea:silent p4merge).Source }" | trim -}}
{{   if ne $beyond_compare_dirf "" -}}
{{     $beyond_compare_dirf = $beyond_compare_dirf | replace "\\" "/" | dir -}}
diff:
  command: {{$beyond_compare_dirf}}/bcomp.exe

merge:
  command: pwsh
  args: [{{$home_dirf}}/.config/chezmoi/merge.ps1, -BeyondCompare, -Destination, '{{`{{ .Destination }}`}}', -Source, '{{`{{ .Source }}`}}', -Target, '{{`{{ .Target }}`}}']
{{-   else if ne $p4merge_dirf "" -}}
diff:
  command: p4merge

merge:
  command: p4merge
{{-   else }}{{/* can happen if posh profile not applied yet */ -}}
diff:
  command: kdiff3

merge:
  command: pwsh
  args: [{{$home_dirf}}/.config/chezmoi/merge.ps1, -KDiff3, -Destination, '{{`{{ .Destination }}`}}', -Source, '{{`{{ .Source }}`}}', -Target, '{{`{{ .Target }}`}}']
{{-   end }}
{{ else }}
merge:
  command: nvim
  args: [-d, '{{`{{ .Destination }}`}}', '{{`{{ .Source }}`}}', '{{`{{ .Target }}`}}']
{{ end }}

interpreters.ps1:
  command: pwsh

#git:
#  autoCommit: true   # not sure i like this yet

data:
  profile:
    personal_machine: {{$personal_machine}}
    home_dirf: {{$home_dirf}}
    home_dirb: {{$home_dirb}}
{{- if ne $beyond_compare_dirf "" }}
    beyond_compare_dirf: {{$beyond_compare_dirf}}
{{- end }}
{{- if ne $p4merge_dirf "" }}
    p4merge_dirf: {{$p4merge_dirf}}
{{- end }}
    theme: dark # updated in the dst file by Set-DarkMode
