format: yaml
pager: delta

{{- $beyond_compare_dir := "" }}
{{ if eq .chezmoi.os "windows" }}
cd:
  command: pwsh
  args: [-NoExit, -Command, "& Set-Location (chezmoi source-path)"]

{{ $beyond_compare_dir = output "pwsh" "-Command" "& { Get-Content -ea:silent Alias:bc || '' }" | trim -}}
{{   if ne $beyond_compare_dir "" -}}
{{     $beyond_compare_dir = $beyond_compare_dir | replace "\\" "/" | dir -}}
diff:
  command: {{$beyond_compare_dir}}/bcomp.exe

merge:
  command: pwsh
  args: [{{.profile.home_dirf}}/.config/beyondcompare/bcmerge-chezmoi.ps1, -Destination, '{{`{{ .Destination }}`}}', -Source, '{{`{{ .Source }}`}}', -Target, '{{`{{ .Target }}`}}']
{{-   else }}{{/* can happen if posh profile not applied yet */ -}}
# Beyond Compare not detected!
{{-   end }}
{{- end }}

interpreters.ps1:
  command: pwsh

#git:
#  autoCommit: true   # not sure i like this yet

data:
  profile:
{{- if ne $beyond_compare_dir "" }}
    beyond_compare_dir: {{$beyond_compare_dir}}
{{- end }}
{{- /* TODO: autodetect this... */}}
{{- $personal_machine := get .profile "personal_machine" }}
{{- if not (hasKey .profile "personal_machine") }}
{{-   $personal_machine = promptBool "\n>>> Personal machine? (y/n): " }}
{{- end }}
    home_dirf: {{.chezmoi.homeDir | replace "\\" "/"}}
    home_dirb: {{.chezmoi.homeDir | replace "/" "\\"}}
    personal_machine: {{$personal_machine}}
    theme: dark # updated in the dst file by Set-DarkMode
