# OKUNITY

[toolchains]
spec=c:/UnitySrc/work/unity*/build/*editor/*/*
spec=d:/UnitySrc/work/unity*/build/*editor/*/*
; older build style
spec=c:/UnitySrc/work/unity*/build/*editor
spec=d:/UnitySrc/work/unity*/build/*editor

[install]
root=C:/UnitySrc/_unity

[unity]
{{- if env "BEE_BUILD_THREADS" }}
job-worker-count={{ env "BEE_BUILD_THREADS" }}
{{- end}}
