BatchMode yes
Compression yes
Protocol 2
#LogLevel DEBUG3

Host *
    IdentityFile ~/.local/share/private/ssh/id_rsa
    UserKnownHostsFile ~/.local/share/private/ssh/known_hosts
    StrictHostKeyChecking no
{{- if ne .chezmoi.os "windows" }}

    # speed up multiple identical connects with multiplexing
    ControlMaster auto
    ControlPath ~/.cache/ssh/mux/%C
{{- end }}

Host github.com
    HostName github.com
    IdentityFile ~/.local/share/private/ssh/github_rsa
    User git

{{ if and (not .profile.personal_machine) (stat (joinPath .chezmoi.homeDir ".local/share/private")) -}}
{{   include "../../../../.local/share/private/ssh/config-work" }}
{{ end -}}
