{
    "[html]": {
        "editor.defaultFormatter": "vscode.html-language-features"
    },
    "[markdown]": {
        "editor.tabSize": 4
    },
    "[yaml]": {
        "editor.tabSize": 2
    },
    "[powershell]": {
        "editor.codeLens": false
    },
    "[plaintext]": {
        "editor.quickSuggestions": {
            "comments": "off",
            "strings": "off",
            "other": "off"
        } // often annoying in a txt file - picks random stuff to be helpful, is too aggressive
    },
    "breadcrumbs.enabled": false,
    "cmake.configureOnOpen": false,
    "cSpell.allowCompoundWords": true,
    "cSpell.enableFiletypes": [
    ],
    "cSpell.ignorePaths": [
        "**/package-lock.json",
        "**/node_modules/**",
        "**/vscode-extension/**",
        "**/.git/objects/**",
        ".vscode",
        "**/vscode/**/User/settings.json",
    ],
    "cSpell.ignoreRegExpList": [
        "[./]\\w+",       // things that look like filenames/paths/extensions
        "@\\w+",          // usernames
        "\\W[Rr]'(?=\\w)" // raw format string prefixes
    ],
    "cSpell.userWords": [
        "Behaviour",
        "Behaviours",
        "Bilas",
        "Bilas's",
        "blittable",
        "Boids",
        "coord",
        "cygwin",
        "datas",
        "deserialization",
        "deserialized",
        "devs",
        "dll's",
        "dotfiles",
        "dups",
        "executables",
        "fatals",
        "ffwd",
        "Finalizers",
        "Fogbugz",
        "funcs",
        "gamedevs",
        "globbing",
        "icase",
        "IDE's",
        "katana",
        "llvm",
        "minimap",
        "mkdir",
        "nums",
        "POSIX",
        "pwsh",
        "REPO",
        "reserialize",
        "Reserialized",
        "Resilio",
        "Resizable",
        "scottbilas",
        "serializable",
        "Shouldly",
        "struct",
        "structs",
        "submodules",
        "termux",
        "transcode",
        "uncrustify",
        "unexpanded",
        "untracked",
        "WASD",
        "xplat"
    ],
    "debug.console.wordWrap": false,
    "debug.showBreakpointsInOverviewRuler": true,
    "debug.toolBarLocation": "docked",
    "diffEditor.codeLens": true,
    "diffEditor.diffAlgorithm": "advanced",
    "diffEditor.experimental.useVersion2": true,
    "diffEditor.hideUnchangedRegions.enabled": true,
    "diffEditor.renderSideBySide": true,
    "dotnet.codeLens.enableReferencesCodeLens": false,
    "editor.accessibilitySupport": "off", // without this, can't do word wrapping
    "editor.autoClosingBrackets": "beforeWhitespace",
    "editor.cursorBlinking": "phase",
    "editor.cursorSmoothCaretAnimation": "on",
    "editor.cursorSurroundingLines": 5,
    "editor.cursorSurroundingLinesStyle": "all",
    "editor.cursorWidth": 3,
    "editor.dragAndDrop": true,
    "editor.foldingStrategy": "indentation",
    "editor.fontFamily": "JetBrainsMono Nerd Font",
    "editor.fontLigatures": true,
    "editor.fontSize": 12,
    "editor.guides.bracketPairs": true,
    "editor.guides.indentation": false,
    "editor.inlineSuggest.enabled": true,
    "editor.lineNumbers": "off",
    "editor.linkedEditing": true,
    "editor.matchBrackets": "never", // want rafamel.subtle-brackets to handle matching brackets instead
    "editor.minimap.enabled": true,
    "editor.minimap.maxColumn": 40,
    "editor.mouseWheelScrollSensitivity": 1,
    "editor.mouseWheelZoom": true,
    "editor.quickSuggestionsDelay": 250,
    "editor.roundedSelection": true,
    "editor.rulers": [
        80,
        100,
        120
    ],
    "editor.smoothScrolling": true,
    "editor.snippetSuggestions": "bottom",
    "editor.suggestOnTriggerCharacters": false,
    "editor.tokenColorCustomizations": {
        "textMateRules": [
            {
                // log.constant
                // log.date
                // log.debug
                // log.error
                // log.exception
                // log.info
                // log.string
                // log.exceptiontype
                // log.warning
                "scope": "log.constant",
                "settings": {
                    "foreground": "#DDD"
                }
            },
            {
                "scope": "keyword.control.bats",
                "settings": {
                    "foreground": "#b33ce2",
                    "fontStyle": "underline"
                }
            },
            {
                "scope": "support.function.bats",
                "settings": {
                    "foreground": "#d15353",
                    "fontStyle": "italic"
                }
            },
            {
                "scope": "support.variable.bats",
                "settings": {
                    "foreground": "#329432",
                    "fontStyle": "italic"
                }
            }
        ]
    },
    "emojisense.languages": {
        "csharp": true,
        "git-commit": true,
        "markdown": true,
        "powershell": true,
        "scminput": true
    },
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "explorer.excludeGitIgnore": true,
    "files.associations": {
        "config-*": "ini",
        "config": "ini",
        "hgrc-*": "ini",
        "hgrc": "ini",
        "ignore": "gitignore",
        "nuget.config": "xml",
        "prompt.json": "jsonc",
        "sshd_config": "ssh_config",
        ".chezmoiignore": "gitignore",
        ".hgignore": "gitignore",
        ".pylintrc": "ini",
        ".netconfig": "ini",
        "*.asmdef": "json",
        "*.asset": "yaml",
        "*.buildconfiguration": "json",
        "*.buildsettings": "json",
        "*.json.tmpl": "jsonc",
        "*.jsonl": "json",
        "*.linq": "csharp",
        "*.log": "log",
        "*.meta": "yaml",
        "*.prefab": "yaml",
        "*.tmpl": "go-template",
        "*.ttinclude": "t4",
        "*.txt": "plaintext",
        "*.unity": "yaml",
        "*.uxml": "xml",
        "*.vssettings": "xml",
        "*.yaml.tmpl": "yaml"
    },
    "files.autoSave": "off",
    "files.eol": "\n",
    "files.exclude": {
        // root folders
        ".hglf": true,

        // files
        "**/*.bak": true,
        "**/*.cache": true,
        "**/*.csproj.CopyComplete": true,
        "**/*.csproj.user": true,
        "**/*.idb": true,
        "**/*.ilk": true,
        "**/*.lib": true,
        "**/*.mdb": true,
        "**/*.meta": true,
        "**/*.obj": true,
        "**/*.orig": true,
        "**/*.pyc": true,
        "**/*.pyo": true,
        "**/*.suo": true,
        "**/*FileListAbsolute.txt": true,

        // folders
        "**/.history": true,
        "**/.venv": true,
        "**/.vs": true,
        "**/__pycache__": true
    },
    "git.confirmSync": false,
    "git.openRepositoryInParentFolders": "always",
    "github.copilot.enable": {
        "*": true,
        "plaintext": false,
        "markdown": true,
        "scminput": false,
        "yaml": true
    },
    "gitlens.blame.format": "${email|10} ${message|25?}${agoOrDate|14-}",
    "gitlens.changes.toggleMode": "window",
    "gitlens.heatmap.toggleMode": "window",
    "gitlens.showWelcomeOnInstall": false,
    "go.formatTool": "goimports",
    "go.toolsManagement.autoUpdate": true,
    "go.useLanguageServer": true,
    "indentRainbow.excludedLanguages": [
        "t4",
        "il",
        "go-template",
        "plaintext"
    ],
    "indentRainbow.colors": [
        "rgba(255,255,64,0.03)",
        "rgba(127,255,127,0.03)",
        "rgba(255,127,255,0.03)",
        "rgba(79,236,236,0.03)"
    ],
    "indentRainbow.indicatorStyle": "light",
    "json.schemas": [
        { "fileMatch": [ "*.asmdef" ], "url": "http://json.schemastore.org/asmdef" }
    ],
    "local-history.path": "~/.local/backups/vscode",
    "logFileHighlighter.customPatterns": [
        {
            "pattern": "error",
            "foreground": "#b40000",
        },
        {
            "pattern": ".*error.*",
            "background": "#3b0000",
        }
    ],
    "markdown.extension.italic.indicator": "_",
    "markdown.extension.toc.levels": "2..3",
    "markdown.preview.fontSize": 16,
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "powershell.codeFormatting.useConstantStrings": true,
    "powershell.codeFormatting.useCorrectCasing": true,
    "powershell.codeFormatting.pipelineIndentationStyle": "IncreaseIndentationForFirstPipeline",
    "powershell.integratedConsole.showOnStartup": false,
    "powershell.promptToUpdatePowerShell": false,
    "problems.decorations.enabled": true,
    "rewrap.wrappingColumn": 100,
    "search.smartCase": true,
    "search.useGlobalIgnoreFiles": true,
    "security.restrictUNCAccess": false,
    "security.workspace.trust.enabled": false,
    "scm.defaultViewMode": "tree",
    "shellcheck.customArgs": [ "-x" ],
    "shellformat.flag": "-i 4 -s",
    "telemetry.telemetryLevel": "crash",
    "terminal.integrated.cursorBlinking": true,
    "terminal.integrated.cursorStyle": "line",
    "terminal.integrated.fontSize": 12,
    "terminal.integrated.lineHeight": 0,
    "terminal.integrated.scrollback": 10000,
    "terminal.integrated.tabs.enabled": false,
    "todohighlight.keywords": [
        {
            "text": "TODO:",
            "color": "salmon",
            "backgroundColor": "darkslategray",
            "overviewRulerColor": "yellow"
        }
    ],
    "ttProcessor.TTPath": "{{.profile.home_dirb | replace "\\" "\\\\"}}\\.dotnet\\tools\\t4.exe", // dotnet tool install -g dotnet-t4
    "update.enableWindowsBackgroundUpdates": false,
    "update.mode": "manual",
    "update.showReleaseNotes": false,
    "vsicons.dontShowNewVersionMessage": true,
    "window.autoDetectColorScheme": true,
    "window.density.editorTabHeight": "compact",
    "window.menuBarVisibility": "toggle",
    "window.newWindowDimensions": "inherit",
    "window.openFilesInNewWindow": "default",
    "window.restoreFullscreen": true,
    "window.restoreWindows": "all",
    "window.title": "${dirty}${activeEditorMedium}${separator}${rootName}${separator}${focusedView}${separator}",
    "window.titleSeparator": " → ",
    "workbench.activityBar.visible": false,
    "workbench.colorCustomizations": {
        "editorRuler.foreground": "#242424"
    },
    "workbench.colorTheme": "Visual Studio Dark - C++",
    "workbench.editor.empty.hint": "hidden",
    "workbench.editor.untitled.hint": "hidden",
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook"
    },
    "workbench.iconTheme": "material-icon-theme",
    "workbench.list.smoothScrolling": true,
    "workbench.panel.defaultLocation": "right",
    "workbench.preferredDarkColorTheme": "Base16 Dark Default",
    "workbench.preferredLightColorTheme": "Base16 Light Atelier Heath",
    "workbench.startupEditor": "newUntitledFile",
    "xml.server.binary.trustedHashes": [
        "f6680ebbcbaa2643477bc52c3f41ede2d89e22af29e19779be7b414dd3c7b4e1"
    ],
    "zenMode.centerLayout": true,
    "zenMode.fullScreen": true,
    "zenMode.hideActivityBar": true,
    "zenMode.hideLineNumbers": true,
    "zenMode.hideStatusBar": true,
    "zenMode.hideTabs": true,
    "zenMode.restore": true,
    "zenMode.silentNotifications": true,

    // uncomment for screenshot mode
    /*
    "customizeUI.stylesheet": { ".title.show-file-icons": "display: none !important;", },
    "editor.folding": false,
    "editor.glyphMargin": false,
    "editor.lineDecorationsWidth": 5,
    "editor.lineNumbers": "off",
    "editor.minimap.enabled": false,
    "editor.rulers": [],
    "editor.scrollbar.verticalScrollbarSize": 0,
    "workbench.activityBar.visible": false,
    "workbench.colorTheme": "Humane",
    "workbench.statusBar.visible": false,
    */
}
