<?xml version="1.0" encoding="UTF-8"?>
<!--perforce-xml-version=1.0-->
<PropertyList IsManaged="TRUE" varName="ApplicationSettings">
 <Bool varName="AlwaysOpenInDefaultChange">false</Bool>
 <Bool varName="AutomaticResolveSync">true</Bool>
 <PropertyList IsManaged="TRUE" varName="Branch">
  <Bool varName="AutoSubmit">true</Bool>
  <String varName="EntryFileFolder">RememberChoice</String>
  <String varName="EntrySubmittedChange">RememberChoice</String>
  <PropertyList IsManaged="TRUE" varName="Option">
   <Bool varName="NoCopy">false</Bool>
  </PropertyList>
  <Int varName="SourceTarget">2</Int>
  <String varName="StartingOptionsTab">RememberChoice</String>
  <Bool varName="UseNewChangelist">false</Bool>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="Connection">
  <String varName="ApplicationLanguage">en</String>
  <Bool varName="BranchDeletedFiles">false</Bool>
  <Int varName="CheckOutImportFiles">0</Int>
  <String varName="DefaultCharset">winansi</String>
  <Bool varName="DisallowDragReparentingStreams">false</Bool>
  <Bool varName="DisallowTreeExpansion">false</Bool>
  <Int varName="FstatPageSize">0</Int>
  <String varName="LastConnection"></String>
  <String varName="LastRemoteConnection"></String>
  <String varName="LastTab">RemoteTab</String>
  <Bool varName="LogOutOnClose">false</Bool>
  <Int varName="MaxChangelistFileCount">1000</Int>
  <Int varName="MaxDashboardFileViewCount">100000</Int>
  <Int varName="MaxFilePreviewSize">100</Int>
  <Int varName="MaxSpecListFetchCount">100</Int>
  <StringList varName="OpenWorkspaces">
  </StringList>
  <Bool varName="ReassociateWorspace">false</Bool>
  <Bool varName="ReassociateWorspaceOnDrag">true</Bool>
  <StringList varName="RecentConnections">
  </StringList>
  <Int varName="ReconnectDelayInSeconds">30</Int>
  <Int varName="RefreshRate">5</Int>
  <Bool varName="RunReconcileOnSwitch">false</Bool>
  <Int varName="SyncAfterReassociateWorkspaceBehavior">0</Int>
  <Int varName="SyncAfterWorkspaceEditBehavior">0</Int>
  <Bool varName="TryReconnect">false</Bool>
  <Bool varName="UseEncodingForAll">false</Bool>
  <Bool varName="UseIpSpecificTickets">false</Bool>
 </PropertyList>
 <Int varName="ConnectionStartOption">1</Int>
 <PropertyList IsManaged="TRUE" varName="Copy">
  <Bool varName="AutoSubmit">false</Bool>
  <String varName="EntryFileFolder">RememberChoice</String>
  <String varName="EntrySubmittedChange">RememberChoice</String>
  <PropertyList IsManaged="TRUE" varName="Option">
   <Bool varName="NoCopy">false</Bool>
  </PropertyList>
  <Bool varName="PropagateChangelistOption">false</Bool>
  <Int varName="SourceTarget">2</Int>
  <String varName="StartingOptionsTab">RememberChoice</String>
  <Bool varName="UseNewChangelist">false</Bool>
 </PropertyList>
 <Bool varName="DarkTheme">true</Bool>
 <PropertyList IsManaged="TRUE" varName="Data">
  <Int varName="NeedsUpdateVersion">0</Int>
  <String varName="NextAutomaticUpdateCheck">2021-12-17T14:32:58</String>
 </PropertyList>
 <Associations varName="DiffAssociations">
  <RunExternal>true</RunExternal>
  <Association varName="Default Association">
   <Application>{{.profile.beyond_compare_dir}}/bcomp.exe</Application>
   <Arguments>%1 %2</Arguments>
  </Association>
 </Associations>
 <Bool varName="DiffOnFileDragAndDrop">true</Bool>
 <Bool varName="DisableParallelShelve">true</Bool>
 <Bool varName="DisableParallelSubmit">true</Bool>
 <Bool varName="DisableParallelSync">false</Bool>
 <PropertyList IsManaged="TRUE" varName="DontAskAgain">
  <Int varName="StreamWorkspaceSwitch">0</Int>
 </PropertyList>
 <Bool varName="DontLeaveEncodingToMerge">false</Bool>
 <Bool varName="DontUseP4Switch">false</Bool>
 <StringList varName="EditorMappings"/>
 <PropertyList IsManaged="TRUE" varName="Features">
  <Bool varName="Administration">true</Bool>
  <Bool varName="ConnectionWizard">true</Bool>
  <Bool varName="CustomTools">true</Bool>
  <Bool varName="Dvcs">true</Bool>
  <Bool varName="Graph">true</Bool>
  <Bool varName="HTMLTools">true</Bool>
  <Bool varName="Integration">true</Bool>
  <Bool varName="Jobs">true</Bool>
  <Bool varName="Labeling">true</Bool>
  <Bool varName="Repos">true</Bool>
  <Bool varName="Streams">true</Bool>
  <Bool varName="Timelapse">true</Bool>
  <Bool varName="UnloadReload">true</Bool>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="Fonts">
  <Font varName="AppFont">
   <family>Tahoma</family>
   <pointSize>9</pointSize>
   <weight>Normal</weight>
   <italic>false</italic>
  </Font>
  <Font varName="ContentFont">
   <family>Cascadia Code</family>
   <pointSize>9</pointSize>
   <weight>Normal</weight>
   <italic>false</italic>
  </Font>
  <String varName="ContentFontStyle">Regular</String>
  <String varName="FontStyle">Regular</String>
  <Bool varName="ShowOnlyFixedFonts">true</Bool>
 </PropertyList>
 <Int varName="HTMLFontScaling">100</Int>
 <Bool varName="HTMLToolDemoMode">false</Bool>
 <PropertyList IsManaged="TRUE" varName="Icon">
  <Double varName="ScaleCustomValue">0.65</Double>
  <Int varName="ScaleOption">0</Int>
 </PropertyList>
 <Bool varName="IntegrateOnDirDragAndDrop">false</Bool>
 <StringList varName="JScriptAllowList"/>
 <PropertyList IsManaged="TRUE" varName="Log">
  <String varName="LogFileName">{{.profile.home_dir}}/.p4qt/log.txt</String>
  <Int varName="LogFileSize">500</Int>
  <Bool varName="LogReportingCommands">false</Bool>
  <Bool varName="LogToFile">true</Bool>
  <Bool varName="LogVerbose">false</Bool>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="Merge">
  <Bool varName="AutoResolve">false</Bool>
  <Bool varName="AutoSubmit">false</Bool>
  <String varName="EntryFileFolder">RememberChoice</String>
  <String varName="EntrySubmittedChange">RememberChoice</String>
  <PropertyList IsManaged="TRUE" varName="Option">
   <Bool varName="Branch_Resolve">false</Bool>
   <Bool varName="Check_Opened">false</Bool>
   <Bool varName="Delete_Resolve">false</Bool>
   <Bool varName="Delete_i">false</Bool>
   <Bool varName="Direct">false</Bool>
   <Bool varName="FileTypes">false</Bool>
   <Bool varName="Force">false</Bool>
   <Bool varName="HaveRev">false</Bool>
   <Bool varName="NoCopy">false</Bool>
   <Bool varName="Skip_Cherry_Picked">false</Bool>
  </PropertyList>
  <Bool varName="PropagateChangelistOption">false</Bool>
  <Int varName="ResolveOption">0</Int>
  <Int varName="SourceTarget">2</Int>
  <String varName="StartingOptionsTab">RememberChoice</String>
  <Bool varName="UseNewChangelist">false</Bool>
 </PropertyList>
 <Associations varName="MergeAssociations">
  <RunExternal>true</RunExternal>
  <Association varName="Default Association">
   <Application>{{.profile.beyond_compare_dir}}/bcomp.exe</Application>
   <Arguments>%1 %2 %b %r</Arguments>
  </Association>
 </Associations>
 <Bool varName="MoveOnFileDragAndDrop">false</Bool>
 <PropertyList IsManaged="TRUE" varName="PreferenceDialog">
  <ByteArray varName="VSplitter">AAAA/wAAAAEAAAACAABLAAABMkAB/////wEAAAABAA==</ByteArray>
 </PropertyList>
 <Bool varName="PromptWorkspaceName">false</Bool>
 <PropertyList IsManaged="TRUE" varName="RevisionGraph">
  <Bool varName="GraphLimitBranchHistory">true</Bool>
 </PropertyList>
 <Bool varName="ShowFileRevisions">true</Bool>
 <Bool varName="ShowFileTypes">true</Bool>
 <Bool varName="ShowIntegratedFolderHistory">false</Bool>
 <Bool varName="ShowItemCounts">false</Bool>
 <PropertyList IsManaged="TRUE" varName="SpecLists">
  <PropertyList IsManaged="TRUE" varName="ClientWindow">
   <ByteArray varName="Splitter">AAAA/wAAAAEAAAADAAAAlwAAAQoAAAAAAf////8BAAAAAgA=</ByteArray>
  </PropertyList>
  <PropertyList IsManaged="TRUE" varName="Workspace">
   <PropertyList IsManaged="TRUE" varName="FilterEditorValues">
    <StringList varName="Owner">
     <String>Browse...</String>
     <String>Current User</String>
    </StringList>
   </PropertyList>
  </PropertyList>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="StreamGraph">
  <Bool varName="RunIstats">true</Bool>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="TaskStreamFilterOut">
  <Bool varName="FileHistory">false</Bool>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="Thumbnails">
  <Bool varName="RenderMaya">false</Bool>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="TimelapseView">
  <Bool varName="BoundsPrompt">true</Bool>
  <Int varName="BoundsType">3</Int>
  <Int varName="Deep">0</Int>
  <Bool varName="EnableImageTLV">true</Bool>
  <PropertyList IsManaged="TRUE" varName="ImageTLVExtension">
   <Bool varName="bmp">true</Bool>
   <Bool varName="cur">true</Bool>
   <Bool varName="gif">true</Bool>
   <Bool varName="icns">true</Bool>
   <Bool varName="ico">true</Bool>
   <Bool varName="jpeg">true</Bool>
   <Bool varName="jpg">true</Bool>
   <Bool varName="pbm">true</Bool>
   <Bool varName="pgm">true</Bool>
   <Bool varName="png">true</Bool>
   <Bool varName="ppm">true</Bool>
   <Bool varName="svg">true</Bool>
   <Bool varName="svgz">true</Bool>
   <Bool varName="tga">true</Bool>
   <Bool varName="tif">true</Bool>
   <Bool varName="tiff">true</Bool>
   <Bool varName="wbmp">true</Bool>
   <Bool varName="webp">true</Bool>
   <Bool varName="xbm">true</Bool>
   <Bool varName="xpm">true</Bool>
  </PropertyList>
 </PropertyList>
 <Bool varName="UseHTMLFontScaling">false</Bool>
 <Bool varName="UseJScriptAllowList">false</Bool>
 <Bool varName="UseOSDateFormat">true</Bool>
 <Bool varName="UseServerTimeZone">true</Bool>
 <Bool varName="WarnCheckOutFilesInDir">false</Bool>
 <Bool varName="WarnOnIgnored">true</Bool>
 <Bool varName="WarnOnOutOfDateCheckout">true</Bool>
 <Bool varName="WarnOnRevert">true</Bool>
 <Bool varName="WarnRemoveFilesInDir">false</Bool>
 <Int varName="WarningCheckOutLimit">1000</Int>
 <Int varName="WarningRemoveLimit">1000</Int>
 <PropertyList IsManaged="TRUE" varName="Windows">
  <PropertyList IsManaged="TRUE" varName="Client">
   <ByteArray varName="HeaderState">AAAA/wAAAAAAAAABAAAAAAAAAAABAAAAAAAAAAAAAAAM4g8AAAAIAAAACAAAAH0AAAAJAAAAfQAAAAoAAAB9AAAACwAAAH0AAAAFAAAAfQAAAAYAAAB9AAAABwAAAH0AAAABAAAAfQAAAfQAAAAMAAEAAAAAAAAAAAAAAAAAAH3/////AAAAAQAAAAAAAAAMAAAAfQAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAfQAAAAEAAAAAAAAAfQAAAAEAAAAAAAAAfQAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAAAD6AAAAAAA</ByteArray>
   <StringList varName="ShownPropertiesHidden"/>
   <StringList varName="VisibleProperties">
    <String>Client</String>
    <String>Access</String>
    <String>Owner</String>
    <String>Host</String>
   </StringList>
  </PropertyList>
  <PropertyList IsManaged="TRUE" varName="formPicker">
   <ByteArray varName="Geometry">AdnQywADAAAAAALFAAABYwAABLoAAAN9AAACxgAAAYkAAAS5AAADfAAAAAAAAAAAB4AAAALGAAABiQAABLkAAAN8</ByteArray>
  </PropertyList>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="WorkspaceDialog">
  <Bool varName="SwitchAutomatically">true</Bool>
  <Int varName="ViewPosition">0</Int>
 </PropertyList>
 <PropertyList IsManaged="TRUE" varName="WorkspaceToolBar">
  <Int varName="NumberRecentWorkspaces">5</Int>
 </PropertyList>
</PropertyList>
