# Prefix format
log_prefix : "%thread(%08x) %time(hh:mm:ss.zzz) "

CharSetMap                          : 0
ClientPortCommandHandler            : 0
CommonQueryEditorDelegate           : 0
CustomTools                         : 0
DiffAgent                           : 0
DiffContext                         : 0
DiffHandler                         : 0
DiffListener                        : 0
DvcsSimpleAgents                    : 0
FileViewerProxy                     : 0
FolderDiff                          : 0
FolderRow                           : 0
FolderView                          : 0
FormDescQueryEditorDelegate         : 0
GridSplitter                        : 0
Gui.Application                     : 0
Gui.ConnectionMap                   : 0
Gui.DirectoryTreeView               : 0
Gui.File                            : 0
Gui.ProgressDialog                  : 0
Gui.ThumbnailProvider               : 0
HmfaIntegration                     : 0
ImportItem                          : 0
InitAgent                           : 0
IntegrateAgent                      : 0
IntegratePreview.Builder            : 0
IntegratePreview.FutureFileRevision : 0
IntegratePreview.Pane               : 0
IntegratePreview.PathTally          : 0
IntegratePreview.Row                : 0
IntegratePreview.View               : 0
IntegratePreview.Window             : 0
LogSniffer                          : 0
LogView                             : 0
MapEntryTableFromBranch             : 0
Obj.CounterAgent                    : 0
Obj.DiffQuery                       : 0
Obj.Directory                       : 0
Obj.DirectoryListAgent              : 0
Obj.DirectoryTreeModel              : 0
Obj.DumpTree                        : 0
Obj.File                            : 0
Obj.FileManager                     : 0
Obj.FormListFilter                  : 0
Obj.LightDirectoryModel             : 0
Obj.PathValidateAgent               : 0
Obj.SpecListModel                   : 0
Obj.Stash                           : 0
Obj.StreamSniffer                   : 0
Obj.TreeObjectModel                 : 0
Op.ClientRootSniffer                : 0
Op.Connection                       : 0
Op.Context                          : 0
Op.RootUtil                         : 0
Op.Scheduler                        : 0
Op.Task                             : 0
Op.TaskQueue                        : 0
OpenWithHandler                     : 0
P4NetworkReply                      : 0
P4QueryEditorDelegate               : 0
P4VHttp                             : 0
P4WebEngineView                     : 0
P4WebWindow                         : 0
ParallelTransfer                    : 0
PendingChangeAgent                  : 0
QueryEditorRow                      : 0
ResolveDialog                       : 0
SandstormApp                        : 0
StreamGraphWidget                   : 0
SwarmIntegration                    : 0
SwitchToHandler                     : 0
SwooshRow                           : 0
SwooshView                          : 0
SyncAgent                           : 0
ThumbUtil                           : 0
UIDiffDialog                        : 0
UIFileViewer                        : 0
UILogWindow                         : 0
UIWorkspace                         : 0
UIWorkspaceWidget                   : 0
WindowManager                       : 0
startup                             : 0
