{
  "selectedAuthType": "oauth-personal",
  "hideBanner": true,
  "hideTips": true,
  "showMemoryUsage": true,
  "ideMode": true,
  "theme": "{{ if eq .profile.theme "light" }}ANSI Light{{ else }}Dracula{{ end }}"
}
