{
  "ui": {
    "hideTips": true,
    "hideBanner": true,
    "showMemoryUsage": true,
    "theme": "{{ if eq .profile.theme "light" }}ANSI Light{{ else }}Dracula{{ end }}"
  },
  "ide": {
    "enabled": true
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  }
}